.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

hr {
    border-color: #59abd7;
}
body {
    padding-bottom: 30px;
    min-width: 970px;
    background: #ffffff;
}

.list-container, .list-container-modal{
    overflow: hidden;
    background-color: #ffffff;
    border-style : solid;
    border-color: #9ebcd7;
    border-width: 1px;
    border-radius:10px

}
.list-container-modal {
    height:175px;
}

.btn-more-details {
    height: 25px;
    width: 100px;
    text-align: center;
    font-size:11px;
    line-height: 50%;
}
  /*                 */
 /* SCROLLBAR STUFF */
/*                 */
.scrollable-content {
    overflow-x:hidden;
    overflow-y:scroll;
}
.scrollable-content::-webkit-scrollbar {
    width:15px;
}
.scrollable-content::-webkit-scrollbar * {
    background:transparent;
}
.scrollable-content::-webkit-scrollbar-thumb {
    background: #aab8ca !important;
    -webkit-border-radius:10%;
    -moz-border-radius:0%;
    border-radius:7px;
}

.pie-holder {
    margin-left:auto;
    margin-right:auto;
    width:300px;
    height:300px;
}

.pie-container {
    overflow: hidden;
    background-color: #9ebcd7;
    border-radius:50%;
    width: 304px;
    float: left;
    height: 304px;
    margin: auto;
    padding-top:2px;
}
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #d5e8f4;
}
.jumbotron {
    background-color: #cceeff;
}
footer {
    text-align: center;
}

.scrollable-content::-webkit-scrollbar * {
    background:transparent;
}
  /*              */
 /* NAVBAR STUFF */
/*              */
.navbar-custom {
    background-color: #1688f4;
    border-color: #7dabf4;
}
.navbar-custom .navbar-brand {
    color: #bfe3ff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
    color: #e9edff;
}
.navbar-custom .navbar-text {
    color: #bfe3ff;
}
.navbar-custom .navbar-nav > li > a {
    color: #bfe3ff;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color: #e9edff;
}
.navbar-custom .navbar-nav > li > .dropdown-menu {
    background-color: #1688f4;
}
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a {
    color: #bfe3ff;
}
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #e9edff;
    background-color: #7dabf4;
}
.navbar-custom .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #7dabf4;
}
.navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
.navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #e9edff;
    background-color: #7dabf4;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: #e9edff;
    background-color: #7dabf4;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
    color: #e9edff;
    background-color: #7dabf4;
}
.navbar-custom .navbar-toggle {
    border-color: #7dabf4;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #7dabf4;
}
.navbar-custom .navbar-toggle .icon-bar {
    background-color: #bfe3ff;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
    border-color: #bfe3ff;
}
.navbar-custom .navbar-link {
    color: #bfe3ff;
}
.navbar-custom .navbar-link:hover {
    color: #e9edff;
}

@media (max-width: 767px) {
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: #bfe3ff;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #e9edff;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #e9edff;
        background-color: #7dabf4;
    }
}