

<div ng-controller="UserCtrl as uc">
  <div class="jumbotron">
    <h2>Budget Manager</h2>
    <p class="pull-right">Total Spent: {{ uc.transactionTotal | currency }}</p>
  </div>
  <div>
    <div class="form-group">
      <h3>
        Transactions
        <a ng-href="/#/users/createTransaction" class="btn btn-primary pull-right" id="btn_transaction_create">Add Transaction</a>
      </h3>
      <hr>
    </div>
  </div>
  <div class="form-group">
    <input class="form-control" type="text" ng-model="searchTextTransaction" placeholder="Type here to filter transactions...">
    <hr>
  </div>


  <table id="transaction_list" class="table table-striped">
    <thead>
    <tr>
      <th>Transaction Name</th>
      <th>Description</th>
      <th>Category</th>
      <th>Cost</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="transaction in uc.transactions | filter:searchTextTransaction">
      <td>
        {{ transaction.transactionName }}
      </td>
      <td>
        {{ transaction.description }}
      </td>
      <td>
        {{ transaction.totalCost | currency}}
      </td>
      <td>
        Category Placeholder
      </td>
      <td>
        <a ng-href="/#/transactions/edit/{{transaction.transactionName}}/{{transaction.description}}/{{transaction.totalCost}}" class="btn btn-success pull-right" id="btn_transaction_update">Edit Transaction</a>
      </td>
    </tr>
    <tr ng-hide="uc.transactions.length">
      <td colspan="3">
        <p class="text-center">No Transactions Found</p>
      </td>
    </tr>
    </tbody>
  </table>

  <tr ng-repeat="transaction in uc.transactions | filter:searchTextTransaction">
    <td>
      {{transaction.transactionTotal }}
    </td>
  </tr>

  <h3>
    Debug:
  </h3>
  <hr>
  <accordion>
    <accordion-group is-open="status.open">
      <accordion-heading>
        Json Data <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </accordion-heading>
      <pre>{{ uc.transactions | json }}</pre>
    </accordion-group>
  </accordion>
</div>

</div>
