<div ng-controller="CreateTransactionCtrl as ctc">
    <h1>Create Transaction</h1>

    <form id="CreateTransactionForm" name="CreateTransactionForm" class="form-horizontal" role="form"
          ng-submit="ctc.createTransaction()">
        <legend class="sm-col-12">Transaction Information</legend>

        <div class="form-group">
            <label id="lbl_transactionName" for="transactionName" class="col-sm-4 control-label">Transaction Name</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" name="transactionName" id="transactionName" placeholder=""
                       ng-model="ctc.transaction.transactionName" required>
            </div>
        </div>

        <div class="form-group">
            <label id="lbl_description" for="description" class="col-sm-4 control-label">Transaction Description</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" name="description" id="description" placeholder=""
                       ng-model="ctc.transaction.description" required>
            </div>
        </div>

        <div class="form-group">
            <label id="lbl_age" for="category" class="col-sm-4 control-label"
                   is-required="CreateTransactionForm.category">Category</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" name="category" id="category"
                       ng-model="ctc.transaction.category" required>
            </div>
        </div>

        <div class="form-group">
            <label id="lbl_age" for="totalCost" class="col-sm-4 control-label"
                   is-required="CreateTransactionForm.totalCost">Total Cost</label>

            <div class="col-sm-8">
                <input type="number" class="form-control" name="totalCost" id="totalCost"
                       ng-model="ctc.transaction.totalCost" step="0.01" required>
            </div>
        </div>

        <pre>{{ ctc.transaction | json }}</pre>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8 text-right">
                <a ng-href="/#/" id="btn_cancel" class="btn btn-warning">Cancel</a>

                <button type="submit" class="btn btn-success" id="btn_create">Create Transaction</button>
            </div>
        </div>


    </form>
</div>

