

<div ng-controller="DetailCtrl as dc">
    <div class="jumbotron">
        <h2>Budget Details</h2>
        <p class="pull-right">Total Spent: {{ transactionTotal | currency }}</p>
    </div>
    <div>
        <div class="form-group">
            <h3>
                Summary:
            </h3>
            <hr>
        </div>
    </div>
    <div class="form-group">
        <input class="form-control" type="text" ng-model="searchTextTransaction" placeholder="Type here to filter Categories...">
        <hr>
    </div>

    <div id="detail-holder" style="height : 300px">
        <div id="left-holder" class="pie-container" ng-controller="ChartCtrl as cc">
            <div id="pie-holder" class="pie-holder">
            <canvas id="chart-area" height= "300" name="chart-area"/>
            </div>

        </div>
        <div id="right-holder" class="list-container scrollable-content" style="width : 49%; float:left; height: 300px; overflow-x: hidden;overflow-y: scroll">

            <table id="category_list" class="table table-striped" style="overflow: scroll" >
                <thead>
                <tr>
                    <th>Category</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="category in transactionCategories | filter:searchTextTransaction">
                    <td>
                        {{ category.category }}
                    </td>
                    <td>
                        {{ category.Total | currency }}
                    </td>
                    <td>
                    <!-- Trigger the modal with a button -->
                    <button type="button" class="btn btn-info btn-lg btn-more-details" ng-click="dc.showModal(category.category,category.Total)" >More Details</button>
                </td>
                <tr ng-hide="transactionCategories.length">
                    <td colspan="3">
                        <p class="text-center">No transactions created...</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="debug data">
        <h3>
            Debug:
        </h3>
        <hr>
        <accordion>
            <accordion-group is-open="status.open">
                <accordion-heading>
                    Json Data <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </accordion-heading>
                <pre>{{ transactions | json }}</pre>
            </accordion-group>
        </accordion>
    </div>
</div>

</div>
