<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<div id="modal-container">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()">close &times;</button>
        <h3 class="modal-title"> {{ title }} breakdown: </h3>

    </div>
    <div class="modal-body">
        <div class="details">
            <h2>Category Total: {{categoryTotal | currency}}</h2>
            <h2>Budget Percent: {{percentOfTotal}}%</h2>
            <h2>Number of Transactions: {{transactionsOfCategory.length}}</h2>
            <h2>Average Transaction Amount: {{categoryTotal | currency}}</h2>
        </div>


        <div class="list-container-modal scrollable-content">
            <table id="transaction_list" class="table table-striped">
                <thead>
                <tr>
                    <th>Transaction Name</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Cost</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="transaction in transactionsOfCategory | filter:searchTextTransaction">
                    <td>
                        {{ transaction.transactionName }}
                    </td>
                    <td>
                        {{ transaction.description }}
                    </td>
                    <td>
                        {{ transaction.category }}
                    </td>
                    <td>
                        {{ transaction.totalCost | currency}}
                    </td>
                </tr>
                <tr ng-hide="transactionsOfCategory.length">
                    <td colspan="3">
                        <p class="text-center">No Transactions Found</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
    </div>
</div>
</body>
</html>