<div ng-controller="UpdateTransactionCtrl as utc">
    <h1>Update Transaction: {{utc.transaction.transactionName}}</h1>

    <form id="UpdateUserForm" name="UpdateTransactionForm" class="form-horizontal" role="form"
          ng-submit="utc.updateTransaction()">
        <legend class="sm-col-12">Basic Information</legend>

        <div class="form-group">
            <label id="lbl_transactionName" for="transactionName" class="col-sm-4 control-label">Transaction Name</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" name="transactionName" id="transactionName" placeholder=""
                       ng-model="utc.transaction.transactionName">
            </div>
        </div>

        <div class="form-group">
            <label id="lbl_description" for="description" class="col-sm-4 control-label">Description</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" name="description" id="description" placeholder=""
                       ng-model="utc.transaction.description">
            </div>
        </div>

        <div class="form-group">
            <label id="lbl_age" for="totalCost" class="col-sm-4 control-label"
                   is-required="CreateTransactionForm.cost">Total Cost</label>

            <div class="col-sm-8">
                <input type="number" class="form-control" name="totalCost" id="totalCost"
                       ng-model="utc.transaction.totalCost" step="0.01">
            </div>
        </div>

        <div class="form-group">
            <label id="lbl_category" for="category" class="col-sm-4 control-label"
                   is-required="CreateTransactionForm.category">Category</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" name="category" id="category"
                       ng-model="utc.transaction.category">
            </div>
        </div>

        <pre>{{ utc.transaction | json }}</pre>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8 text-right">
                <a ng-href="/#/" id="btn_cancel" class="btn btn-warning">Cancel</a>

                <button type="submit" class="btn btn-success" id="btn_create">Update Transaction</button>
            </div>
        </div>


    </form>
</div>

